{% extends 'base.html' %}
{% block title %}
    <title>Delete topic</title>
{% endblock %}
{% block content %}
    <h2>Delete Topic</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить эту тему?</p>
        <div class="d-flex justify-content-start">
            <input type="submit" value="Да" class="btn btn-danger rounded-0 me-2">
            <a href="{% url "webapp:index" %}" class="btn btn-primary rounded-0">Нет</a>
        </div>
    </form>
{% endblock %}